{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registrar.css' %}">
    <title>Registro</title>
</head>
<body style="background-image: url('{% static 'img/3.jpg' %}');">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Registrar</button>
    </form>
    <div class="back-link">
        <a href="{% url 'login' %}">Volver a Iniciar Sesión</a>
    </div>
</body>
</html>
