{% extends 'docente/panelDocente.html' %}

{% load static %}

{% block title %}Registrar Nota{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registrarNota.css' %}">
{% endblock %}

{% block content %}
<div class="registrar-nota">
  <h2>Registrar Nota</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Esto renderiza el formulario con los campos definidos -->
    <button type="submit" class="btn btn-primary">Registrar Nota</button>
  </form>
</div>
{% endblock %}
