body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0cd0bd;
}

h2 {
    text-align: center;
    color: #333333;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #007BFF;
    display: inline-block;
    padding-bottom: 10px;
}

form {
    max-width: 600px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form p {
    margin-bottom: 15px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}

form button:active {
    transform: scale(0.98);
}