{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Panel{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'js/notificaciones.js' %}"></script>
</head>
<body style="background-image: url('{% static 'img/OIP.png' %}');">
    <!-- Contenedor para notificaciones -->
    <div id="notification-container" style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); width: 80%; z-index: 9999;"></div>

    <!-- Barra lateral -->
    <aside class="sidebar">
        <div class="logo">
            <img src="{% static 'img/logo.jpeg' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" class="active"><span><i class="fas fa-home"></i></span> Inicio</a></li>
            </ul>
            <div class="button-container">
                <button type="button" onclick="window.location.href='{% url 'formularioContacto' %}'">CONTACTAR DOCENTE</button>
            </div>
            <ul>
                <li><a href="{% url 'salir' %}"><span><i class="fas fa-sign-out-alt"></i></span> Cerrar Sesión</a></li>
            </ul>
        </nav>
    </aside>

    <!-- Contenido principal -->

        {% block content %}
        <!-- Aquí va el contenido específico de cada página -->
        {% endblock %}
</body>
</html>
