/* Estilos para el fondo */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("/static/img/inicio.jfif");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    position: relative; /* Necesario para que el botón se posicione relativo al body */
}


/* Estilos para el botón */
.boton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; /* Permite mover el botón a cualquier posición */
    top: 68%; /* Ajusta esta propiedad */
    left: 52%; /* Ajusta esta propiedad */
    transform: translate(-50%, -50%); /* Centra el botón relativo al punto top/left */
}


.boton:hover {
    background-color: #0983fe;
}
